[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restx = "*"
gunicorn = "*"
openpyxl = "*"
flask-cors = "*"
flask = "*"
"luma.core" = "*"
"luma.oled" = "*"
pillow = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
